name: Build SoloArise

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Build with Maven
      run: mvn -B clean package --file pom.xml
    
    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: SoloArise-Plugin
        path: target/*.jar
    
    - name: Upload Source
      uses: actions/upload-artifact@v4
      with:
        name: SoloArise-Source
        path: |
          src/
          pom.xml
          README.md
